# Python
__pycache__/
*.pyc
.venv/

# Secrets & Configs
.env
certs/
nginx/certs/
nginx/nginx.conf

# Data & Models
data/
archive/
serve/model/
mlruns/
.mlflow/
*.db

# Logs
logs/*.jsonl
logs/*.log
!logs/.gitkeep
__pycache__/

