# Python
__pycache__/
*.pyc
.venv/
*.egg*

# Secrets & Configs
.env
certs/
nginx/certs/
nginx/nginx.conf
*.agekey

# Data & Models
data/
archive/
serve/model/
model_store/
mlruns/
.mlflow/
*.db

# Logs
logs/
!logs/.gitkeep
__pycache__/

